<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>mecouilles.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>

    <meta name="description"
         content="Créer un compte | La meilleure appli pour gérer les feedbacks de vos travailleurs sous-payés.">
    <meta property="og:description" content="Créer un compte | La meilleure appli pour gérer les feedbacks de vos travailleurs sous-payés.">
    <meta property="og:image" content="https://raytro.asciiparait.fr/og-visu.png">
    <meta property="og:site_name" content="Raytro">
    <meta property="og:type" content="object">
    <meta property="og:url" content="https://raytro.asciiparait.fr/">
    <meta property="og:title" content="Raytro | Manage feedbacks like a boss">
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
