<template>
  <h1>Votre feedback de la semaine</h1>
<!--  <BubbleBox-->
<!--    content="Vous êtes invité chaque semaine à renseigner votre 'feedback' ou, en d'autres termes, les choses que vous avez aimé ou pas."/>-->

  <form class="grid" @submit.prevent="() => {}">
    <div class="s5 good">
      <h2 class="h2">&#129321; Ce que j'ai aimé</h2>
        <input
            v-for="(item, $index) in writingFeedback.liked"
            v-model="writingFeedback.liked[$index]"
            type="text"
            class="feedback-item"
            :placeholder="`${$index > 0? 'Un autre ?' :
            'Ajoutez un avis positif au moins'}`"
            :key="$index">
    </div>
    <span class="filler s1"></span>
    <div class="s5 bad">
      <h2 class="h2">&#129324; Ce que je n'ai pas aimé</h2>
        <input
            v-for="(item, $index) in writingFeedback.disliked"
            v-model="writingFeedback.disliked[$index]"
            type="text"
            class="feedback-item"
            :placeholder="`${$index > 0? 'Un autre ?' :
            'Ajoutez un avis négatif au moins'}`"
            :key="$index">
      <button @click="sendFeedback" class="cta button">Envoyer mon feedback</button>
      <button @click="skip" class="text button">Voir les feedback</button>
    </div>
  </form>
</template>

<script lang="ts">
import { Vue, Options, } from 'vue-class-component'
import { mapGetters, } from 'vuex'
import router from '@/router'
import Feedback from '@/models/Feedback'
import { sendFeedback, } from '@/api/feedback'
import BubbleBox from '@/components/BubbleBox.vue'

@Options({
  computed: { ...mapGetters(['firstName', 'isLoggedIn',]), },
  components: { BubbleBox, },
})
export default class AddFeedback extends Vue {
  firstName: string | undefined
  isLoggedIn: string | undefined

  feedback: Feedback = new Feedback()

  get writingFeedback (): Feedback {
    const existsEmptyLike = this.feedback.liked.filter(item => item.length <= 0).length > 0
    const existsEmptyDislike = this.feedback.disliked.filter(item => item.length <= 0).length > 0
    const output = new Feedback()
    output.liked = this.feedback.liked
    output.disliked = this.feedback.disliked

    if (!existsEmptyLike) {
      output.liked.push('')
    }
    if (!existsEmptyDislike) {
      output.disliked.push('')
    }
    console.log(JSON.parse(JSON.stringify(output)))
    return output
  }

  skip () : void {
    router.push('/feedbacks')
  }

  sendFeedback (): void {
    this.feedback.clean()
    if (this.feedback.isValid()) {
      sendFeedback(this.feedback)
        .then(data => {
          console.log('GG, cest enregistré', data)
          router.push('/feedbacks')
        })
      console.log('send fiiiidback', JSON.stringify(this.feedback))
    }
    else {
      console.log('le feedback n\'est pas au top')
    }
  }
}

</script>
<style lang="stylus">
  @import '../main.styl'
  .feedback-item {
    display block
    width 100%
    margin-bottom 20px
  }
  .good input[type=text].feedback-item {
    color GOOD !important
  }
  .bad input[type=text].feedback-item {
    color BAD !important
  }
  @media (max-width 25cm) {
    .s5 {
      grid-column-end: span 12
    }
  }
</style>
